name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache-dependency-path: |
            go/go.sum
            tools/go.sum

      - name: Set up Rust
        run: |
          rustup default stable
          rustup update

      - name: Set up Task
        run: |
          winget install --id Task.Task --accept-source-agreements --accept-package-agreements
          "$env:LOCALAPPDATA\Microsoft\WinGet\Links" | Out-File -FilePath "$env:GITHUB_PATH" -Append

      - name: Build
        run: |
          task build
